<template>
  <v-layout row justify-center>
     <v-dialog :value="dialog" max-width="500px" persistent>
       <v-card>
         <v-card-title class="pb-0">
           <span class="headline">Регистрация</span>
         </v-card-title>
         <v-card-text class="pt-0">
           <v-container grid-list-md>
             <v-layout wrap>
               <v-flex xs12>
                 <v-alert v-model="showAlert" type="error" transition="scale-transition" dismissible>Ошибка в создании пользователя.</v-alert>
               </v-flex>
               <v-flex xs12 sm6 md4>
                 <v-text-field v-model="lastName" label="Фамилия*" :disabled="formDisabled" required></v-text-field>
               </v-flex>
               <v-flex xs12 sm6 md4>
                 <v-text-field v-model="firstName" label="Имя*" :disabled="formDisabled"></v-text-field>
               </v-flex>
               <v-flex xs12 sm6 md4>
                 <v-text-field v-model="patronymic" label="Отчество*" r:disabled="formDisabled" equired></v-text-field>
               </v-flex>
               <v-flex xs12>
                 <v-text-field v-model="email" label="Почта*" hint="Ваш Email" :disabled="formDisabled" required></v-text-field>
               </v-flex>
               <v-flex xs12 sm6>
                 <v-text-field v-model="username" label="Имя пользователя*" hint="Username" :disabled="formDisabled" required></v-text-field>
               </v-flex>
               <v-flex xs12 sm6>
                 <v-text-field v-model="password" label="Пароль*" type="password" :disabled="formDisabled" required></v-text-field>
               </v-flex>
             </v-layout>
           </v-container>
           <small>*обязательные поля</small>
         </v-card-text>
         <v-card-actions>
           <v-btn color="blue darken-1" flat :disabled="formDisabled" @click.native="closeModal">Закрыть</v-btn>
           <v-spacer/>
           <v-btn color="blue darken-1" flat :disabled="formDisabled" @click.native="postCredentials">Зарегистрироваться</v-btn>
         </v-card-actions>
       </v-card>
     </v-dialog>
   </v-layout>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      password: "",
      email: "",
      firstName: "",
      lastName: "",
      patronymic: "",

      formDisabled: false,
      showAlert: false,
    };
  },
  model: {
    prop: "dialog",
    event: "change",
  },
  props: {
    dialog: Boolean,
  },
  watch: {
    username(val) {
      this.username = val.toLowerCase();
    },
  },
  methods: {
    async postCredentials() {
      this.formDisabled = true;
      this.showAlert = false;

      const payload = {
        user: {
          username: this.username,
          password: this.password,
          email: this.email,
          first_name: this.firstName,
          last_name: this.lastName,
          patronymic: this.patronymic,
        },
      };

      const res = await this.$axios.$post("api/users", payload).catch(err => {
        this.showAlert = true;
      });

      this.formDisabled = false;
      if (res !== undefined) {
        this.clearAllData();
        this.closeModal();
      }
    },
    clearAllData() {
      this.username = this.password = this.email = this.firstName = this.lastName = this.patronymic = "";
    },
    closeModal() {
      this.$emit("change", false);
    },
  },
};
</script>
