<template>
  <v-container grid-list-md>
    <v-layout wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title class="pb-0 pt-0">
            <v-breadcrumbs divider="/">
              <v-breadcrumbs-item to="/tests" exact nuxt>Тесты к топикам</v-breadcrumbs-item>
              <v-breadcrumbs-item :to="`/tests/${topic.id}`" nuxt>{{ topic.id }}</v-breadcrumbs-item>
            </v-breadcrumbs>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <div class="headline">Тест по топику "{{ topic.title }}"</div>
            <v-spacer/>
            <v-progress-circular :value="3 / 10 * 100" size="60" color="info">
              <b>3/10</b>
            </v-progress-circular>
          </v-card-title>
          <v-card-text>
            <v-layout wrap>
              <v-flex xs12>
                <div class="subheading">Основные принципы ООП</div>
                <v-divider/>
              </v-flex>
              <v-flex md6 xs12>
                <v-checkbox color="success" label="Наследование" />
              </v-flex>
              <v-flex md6 xs12>
                <v-checkbox color="success" label="Инкапсуляция" />
              </v-flex>
              <v-flex md6 xs12>
                <v-checkbox color="success" label="Полиморфизм" />
              </v-flex>
              <v-flex md6 xs12>
                <v-checkbox color="success" label="Инстанцирование" />
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn color="info" flat>Предыдущий</v-btn>
            <v-btn color="info" flat>Следующий</v-btn>
            <v-spacer/>
            <v-btn color="error" flat>Завершить</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { requestTo } from "~/assets/helper.js";

export default {
  async asyncData({ app, params, redirect, error }) {
    const res = await requestTo(app, `api/topics/${params.id}`, error, redirect);

    return {
      topic: res.topic,
    };
  },
  data() {
    return {
      topic: {},
    };
  },
};
</script>
